<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>About us</h1>
    <p>Orishas es una banda cubana. La forman Hiram Riverí Medina (Ruzzo), Yotuel Romero (Guerrero) y Roldán González Rivero. En principio Yotuel y Ruzzo eran dos cubanos que salieron de La Habana como parte de un intercambio escolar a París; allí se unieron a Roldán y a Flaco-Pro que, con el productor francés Niko Noki, habían formado el grupo Orishas desde hacía algunos meses, y así formaron la banda en 1999. Ruzzo y Yotuel rapeaban en Amenaza, banda pionera del hip-hop cubano; Roldán cantaba música tradicional cubana en el grupo Rico Son. Algunos amigos se quedaron en el camino, pero el poderío de la idea inicial fue la fuerza que les hizo seguir adelante: mezclar hip-hop con música tradicional cubana. Como curiosidad, sus integrantes viven repartidos por Europa (Roldán en París, Ruzzo en Milán y Yotuel en Madrid).[cita requerida] </p>
    <img src="/images/cool-cat.jpg" />

    <a href="/works">Check out works</a> <br>
    <a href="/home">Back to home</a>
  </body>
</html>