<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>Check out my work</h1>
    <h2>DISCOS</h2>
    <ul>
      <li>A lo Cubano (1999)</li>
<li>Emigrante (2002)</li>
<li>El Kilo (2005)</li>
<li>ntidiótico (2007)</li>
<li>Cosita Buena (2008)</li>
<li>Gourmet (2018)</li>
    </ul>
    <img src="/images/cool-cat.jpg" />

    <a href="/home">Back to home</a>
    <a href="/about">About us</a>
  </body>
</html>